/* Main-Body */

.main{
    background: url(../assets/images/background-charmy.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@media (max-width: 912px) and (orientation: portrait){
    
    .main{
        background: #272926;
        height: 100%;
    }
}

/* 3 Components: Top-Navbar, Main-Content, Footer */

        .top-nav-bar a.text-link::before{
        background: rgb(218, 135, 58);
        }

        /* Character-Components: Selection, Sheet, Extras, Menu */

                .character-box-gradient-background{
                    background: linear-gradient(to top, #ffbc659a, #9907fa00);
                }

                .charmy-box{
                    filter: grayscale(0%);
                }

                .charmy-box img{
                    border: 2px solid rgb(218, 135, 58);
                }

        .footer-text{
            color: rgba(255, 255, 255, 0.6);
        }

        .credits-link{
            color: rgba(255, 255, 255, 0.6);
        }